::-webkit-input-placeholder {
   color: #4A4A4A;
   font-family: source sans pro;
   font-size: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4A4A4A;  
   font-family: source sans pro;
   font-size: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4A4A4A;  
   font-family: source sans pro;
   font-size: 20px;
}

:-ms-input-placeholder {  
   color: #4A4A4A;  
   font-family: source sans pro;
   font-size: 20px;
}

.container {
	text-align: center;
	color: #4A4A4A;
	font-family: source sans pro;
}

.top {
	margin-top: 40px;
}

.lines {
	z-index: 1;
	margin-top: -138px;
}

.line_1, .line_2, .line_3, .line_4, .line_5 {
	position: relative;
	display:inline-block;
	width: 100%;
}

.line_1, .line_3, .line_5 {
	height: 20px;
	background-color: #4A90E2;
}

.line_2, .line_4 {
	height:20px;
	background-color: white;
}

#icon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

#add-items {
	width: 550px;
	height: 30px;
	background-color: #D8D8D8;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 6px;
	border: none;
	color: #4A4A4A;
	font-family: source sans pro;
	font-size: 20px;
}

#list {
	list-style-type: none;
}

#item {
	width: 550px;
	height: 25px;
	background-color: white;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 6px;
	border: 2px solid #4A4A4A;
	color: #4A4A4A;
	font-family: source sans pro;
	font-size: 20px;
	margin-top: 15px;
	margin-left: -38px;
}

.2 {
	color: red!important;
}